In [19]:
import pandas as pd
from pathlib import Path

%matplotlib inline

In [20]:
# All data is from binance for the past 3 years

btc_data_df = pd.read_csv(
    Path('./Resources/Binance_BTCUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

btc_data_df.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.628640e+12,2021-08-11 00:00:00,BTC/USDT,45585.00,45800.00,45450.00,45762.63,685.958977,3.127077e+07,19227.0
1,1.628554e+12,2021-08-10 00:00:00,BTC/USDT,46248.87,46700.00,44589.46,45584.99,53814.643421,2.452486e+09,1951330.0
2,1.628467e+12,2021-08-09 00:00:00,BTC/USDT,43794.36,46454.15,42779.00,46253.40,74587.884845,3.362870e+09,2130595.0
3,1.628381e+12,2021-08-08 00:00:00,BTC/USDT,44572.54,45310.00,43261.00,43794.37,69329.092698,3.074925e+09,1857112.0
4,1.628294e+12,2021-08-07 00:00:00,BTC/USDT,42836.87,44700.00,42446.41,44572.54,73396.740808,3.197407e+09,2258213.0

In [21]:
btc_close_data = btc_data_df.drop(columns=['unix','open','high','low','Volume BTC'])

btc_close_data.head()

                  date    symbol     close   Volume USDT  tradecount
0  2021-08-11 00:00:00  BTC/USDT  45762.63  3.127077e+07     19227.0
1  2021-08-10 00:00:00  BTC/USDT  45584.99  2.452486e+09   1951330.0
2  2021-08-09 00:00:00  BTC/USDT  46253.40  3.362870e+09   2130595.0
3  2021-08-08 00:00:00  BTC/USDT  43794.37  3.074925e+09   1857112.0
4  2021-08-07 00:00:00  BTC/USDT  44572.54  3.197407e+09   2258213.0

In [22]:
btc_close_data.set_index('date', inplace=True)

btc_close_data.head()

                       symbol     close   Volume USDT  tradecount
date
2021-08-11 00:00:00  BTC/USDT  45762.63  3.127077e+07     19227.0
2021-08-10 00:00:00  BTC/USDT  45584.99  2.452486e+09   1951330.0
2021-08-09 00:00:00  BTC/USDT  46253.40  3.362870e+09   2130595.0
2021-08-08 00:00:00  BTC/USDT  43794.37  3.074925e+09   1857112.0
2021-08-07 00:00:00  BTC/USDT  44572.54  3.197407e+09   2258213.0

In [23]:
eth_data_df = pd.read_csv(
    Path('./Resources/Binance_ETHUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

eth_close_data = eth_data_df.drop(columns=['unix','open','high','low','Volume ETH'])

eth_close_data.set_index('date', inplace=True)

eth_close_data.head()

                       symbol    close   Volume USDT  tradecount
date
2021-08-11 00:00:00  ETH/USDT  3166.15  2.490442e+07     27593.0
2021-08-10 00:00:00  ETH/USDT  3141.66  2.763516e+09   1824522.0
2021-08-09 00:00:00  ETH/USDT  3160.52  3.453772e+09   2114151.0
2021-08-08 00:00:00  ETH/USDT  3011.85  2.979961e+09   1771162.0
2021-08-07 00:00:00  ETH/USDT  3160.31  3.673733e+09   2318608.0

In [24]:
ada_data_df = pd.read_csv(
    Path('./Resources/Binance_ADAUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

ada_close_data = ada_data_df.drop(columns=['unix','open','high','low','Volume ADA'])

ada_close_data.set_index('date', inplace=True)

ada_close_data.head()

                       symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  ADA/USDT  1.6866  6.589826e+06       18455
2021-08-10 00:00:00  ADA/USDT  1.6780  5.607309e+08     1239067
2021-08-09 00:00:00  ADA/USDT  1.4745  2.969657e+08      477778
2021-08-08 00:00:00  ADA/USDT  1.4255  2.922405e+08      464166
2021-08-07 00:00:00  ADA/USDT  1.4727  3.557991e+08      682489

In [25]:
bnb_data_df = pd.read_csv(
    Path('./Resources/Binance_BNBUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

bnb_close_data = bnb_data_df.drop(columns=['unix','open','high','low','Volume BNB'])

bnb_close_data.set_index('date', inplace=True)

bnb_close_data.head()

                       symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  BNB/USDT  376.27  1.156759e+07       24775
2021-08-10 00:00:00  BNB/USDT  371.92  6.045640e+08     1108969
2021-08-09 00:00:00  BNB/USDT  354.32  4.487329e+08      738182
2021-08-08 00:00:00  BNB/USDT  341.79  4.459206e+08      685710
2021-08-07 00:00:00  BNB/USDT  356.18  5.426037e+08      783556

In [26]:
dot_data_df = pd.read_csv(
    Path('./Resources/Binance_DOTUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

dot_close_data = dot_data_df.drop(columns=['unix','open','high','low','Volume DOT'])

dot_close_data.set_index('date', inplace=True)

dot_close_data.head()

                       symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  DOT/USDT  20.821  3.026849e+06        5021
2021-08-10 00:00:00  DOT/USDT  20.616  2.760522e+08      514340
2021-08-09 00:00:00  DOT/USDT  20.566  2.517566e+08      496200
2021-08-08 00:00:00  DOT/USDT  19.650  2.381380e+08      563008
2021-08-07 00:00:00  DOT/USDT  20.963  3.412420e+08     1081125

In [27]:
link_data_df = pd.read_csv(
    Path('./Resources/Binance_LINKUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

link_close_data = link_data_df.drop(columns=['unix','open','high','low','Volume LINK'])

link_close_data.set_index('date', inplace=True)

link_close_data.head()

                        symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  LINK/USDT  24.812  1.806628e+06        4497
2021-08-10 00:00:00  LINK/USDT  24.537  1.616852e+08      337730
2021-08-09 00:00:00  LINK/USDT  24.197  1.409178e+08      280978
2021-08-08 00:00:00  LINK/USDT  23.029  1.238713e+08      260258
2021-08-07 00:00:00  LINK/USDT  24.694  1.514388e+08      319613

In [28]:
ltc_data_df = pd.read_csv(
    Path('./Resources/Binance_LTCUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

ltc_close_data = ltc_data_df.drop(columns=['unix','open','high','low','Volume LTC'])

ltc_close_data.set_index('date', inplace=True)

ltc_close_data.head()

                       symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  LTC/USDT  166.45  1.753190e+06      2479.0
2021-08-10 00:00:00  LTC/USDT  165.38  1.466503e+08    285340.0
2021-08-09 00:00:00  LTC/USDT  166.31  1.862067e+08    407093.0
2021-08-08 00:00:00  LTC/USDT  149.69  1.069333e+08    241400.0
2021-08-07 00:00:00  LTC/USDT  155.92  1.342797e+08    294520.0

In [29]:
vet_data_df = pd.read_csv(
    Path('./Resources/Binance_VETUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

vet_close_data = vet_data_df.drop(columns=['unix','open','high','low','Volume VET'])

vet_close_data.set_index('date', inplace=True)

vet_close_data.head()

                       symbol    close   Volume USDT  tradecount
date
2021-08-11 00:00:00  VET/USDT  0.10747  1.525206e+06        2341
2021-08-10 00:00:00  VET/USDT  0.10633  8.928642e+07      167941
2021-08-09 00:00:00  VET/USDT  0.10574  1.153501e+08      202971
2021-08-08 00:00:00  VET/USDT  0.10130  1.270166e+08      249982
2021-08-07 00:00:00  VET/USDT  0.10371  1.711582e+08      367677

In [30]:
xlm_data_df = pd.read_csv(
    Path('./Resources/Binance_XLMUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

xlm_close_data = xlm_data_df.drop(columns=['unix','open','high','low','Volume XLM'])

xlm_close_data.set_index('date', inplace=True)

xlm_close_data.head()

                       symbol    close   Volume USDT  tradecount
date
2021-08-11 00:00:00  XLM/USDT  0.31281  4.165313e+05        1484
2021-08-10 00:00:00  XLM/USDT  0.31019  4.473811e+07      159524
2021-08-09 00:00:00  XLM/USDT  0.29860  4.035013e+07      127626
2021-08-08 00:00:00  XLM/USDT  0.28716  3.769842e+07      124412
2021-08-07 00:00:00  XLM/USDT  0.30745  6.734586e+07      226223

In [31]:
xrp_data_df = pd.read_csv(
    Path('./Resources/Binance_XRPUSDT_d.csv'), 
    skiprows = 1, 
    infer_datetime_format=True, 
    parse_dates=True)

xrp_close_data = xrp_data_df.drop(columns=['unix','open','high','low','Volume XRP'])

xrp_close_data.set_index('date', inplace=True)

xrp_close_data.head()

                       symbol   close   Volume USDT  tradecount
date
2021-08-11 00:00:00  XRP/USDT  0.8582  6.533368e+06        6271
2021-08-10 00:00:00  XRP/USDT  0.8511  4.172921e+08      615024
2021-08-09 00:00:00  XRP/USDT  0.8170  3.821106e+08      557017
2021-08-08 00:00:00  XRP/USDT  0.7788  4.478855e+08      538544
2021-08-07 00:00:00  XRP/USDT  0.8162  4.633433e+08      632865